# Apply .gitignore
*
!.gitignore

# CI
!.github
!.github/*
!.github/workflows/*

# Allow divine related stuff
!divine.spec
!do_SRPM.sh
!*.patch

# Allow csgrep related stuff
!divine2csgrep.py
!csexec-divine.sh
!csgrep-tests
!csgrep-tests/run-tests.sh
!csgrep-tests/*.txt
